.user-profile {
    width: 350px;
    height:86px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    clear:both;
  }
  
  .avatar {
    width: 80px;
    height:86px;
    border: 1px solid gray;
    float:left;
  }
  
  .avatar img {
    width: 80px;
    height:86px;
  }
  
  .profile {
    margin-left: 10px;
    display: inline-block;
  }
  
  span {
    display:block;
    padding-bottom: 5px;
  }