<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div>
      <label>Name</label>
      <input type="text"ngModel name="name">
    </div>
    <div>
      <label>Phonenumber</label>
      <input type="text"ngModel name="phone">
    </div>
    <button type="submit">Save</button>
    <button (click)="cancel()">Cancel</button>
  </form>