
<button *ngIf="!isAddingNewContact" (click)="isAddingNewContact = !isAddingNewContact">Add new person</button>
<contmodifi *ngIf="isAddingNewContact" (onSubmitted)="onSubmit($event)"(onCancel)="isAddingNewContact = false"></contmodifi>
<hr>
<profileform [contact] = "contact"*ngFor="let contact of contact"></profileform>